<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="../../profile/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pest & Disease Library</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <ion-searchbar placeholder="Search pests or diseases"></ion-searchbar>
    
    <ion-list>
      <ion-list-header>
        Common Pests
      </ion-list-header>
      
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/pests/aphids.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Aphids</h2>
          <p>Small sap-sucking insects</p>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/pests/spider-mites.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Spider Mites</h2>
          <p>Tiny arachnids that feed on plants</p>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/pests/whiteflies.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Whiteflies</h2>
          <p>Small white flying insects</p>
        </ion-label>
      </ion-item>
    </ion-list>
    
    <ion-list>
      <ion-list-header>
        Common Diseases
      </ion-list-header>
      
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/diseases/powdery-mildew.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Powdery Mildew</h2>
          <p>Fungal disease that appears as white powder</p>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/images/diseases/root-rot.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Root Rot</h2>
          <p>Caused by overwatering and poor drainage</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>